.footer {
    margin-top: $spacing;

    @include breakpoint(md) {
        margin-top: $spacing-mob;
    }

    &__wrapper {
        position: relative;
        overflow: hidden;
        display: flex;
        justify-content: space-between;
        padding: 2rem $spacing;

        @include border();
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;

        @include breakpoint(md) {
            padding: 2rem $spacing-mob;

        }   
    }

    &__message {
        flex: 0 0 100%;
        text-align: center;
    }
}