.header {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 2rem $spacing;

    box-shadow: $shadow;
    border-radius: 0px 0px $radius $radius;

    &__logo {
        &:hover {
            .header {
                &__logo-text {
                    top: 50%;
                }
            }
        }
    }

    &__logo-text {
        font-family: 'Racing Sans One', cursive;
        letter-spacing: 0.035rem;
        padding: 0 1rem;
        transition: .3s;
        position: absolute;
        top: -50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 4rem;

        @include gradient-text();
    }
}