.intro {
    margin-top: $spacing;
    
    &__wrapper {
        display: flex;
        padding: $spacing;

        @include border();
    }

    &__image {
        flex: 0 0 22rem;
        border-radius: $radius;
        overflow: hidden;
        box-shadow: $shadow;
        border: 0.2rem solid $bg-main;
    }

    &__header {
        margin-bottom: 3.5rem;
    }

    &__text {
        max-width: 70rem;
    }
}