.latest-articles {
    margin-top: $spacing;

    @include breakpoint(md) {
        margin-top: $spacing-mob;
    }

    &__wrapper {
        padding: $spacing;

        @include border();

        @include breakpoint(md) {
            padding: $spacing-mob;
        }
    }

    &__title {
        margin-bottom: $spacing;

        @include breakpoint(md) {
            margin-bottom: $spacing-mob;
        }
    }
}