.navigation { 
    &__list {
        display: flex;
        margin-bottom: 0;

        & > * + * {
            margin-left: 2rem;
        }
    }

    &__list-item {
        &:hover {
            .navigation__link-text {
                top: 50%;
            }
        }
    }

    &__link-text {
        font-family: 'Racing Sans One', cursive;
        letter-spacing: 0.035rem;
        padding: 0 1rem;
        transition: .3s;
        position: absolute;
        top: -50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 4rem;
        color: $color-primary;
        // @include gradient-text(); // Na Firefoxu na iOSu baguje kad ima transform translate

        &--footer {
            top: 150%;
        }
        
        @include breakpoint(md) {
            display: none;
        }
    }
}
