.navigation { 
    &__list {
        display: flex;
    }

    &__list-item {
        margin-left: 20px;

        &:hover {
            .navigation__link-text {
                top: 50%;
            }
        }
    }

    &__link-text {
        font-family: 'Racing Sans One', cursive;
        letter-spacing: 0.035rem;
        padding: 0 1rem;
        transition: .3s;
        position: absolute;
        top: -50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 4rem;

        &--footer {
            top: 150%;
        }
        
        @include gradient-text();
    }
}
