.article-card {
  padding-right: $spacing * 3;
  position: relative;
  display: flex;
  flex-direction: column;

  @include breakpoint(sm) {
    padding-right: $spacing;
  }

  &:not(:last-child) {
    margin-bottom: $spacing;

    @include breakpoint(md) {
      margin-bottom: $spacing-mob;
    }
  }

  &--row {
    padding: 2rem;

    &:not(:last-child) {
      margin-bottom: 0;
  
      @include breakpoint(md) {
        margin-bottom: 0;
      }
    }
  }


  &__image {
    position: absolute;
    width: auto;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    z-index: -1;

    &:after {
      content: "";
      display: block;
      position: absolute;
      z-index: 2;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: radial-gradient(
        44.09% 44.09% at 50% 50%,
        rgba($bg-main, 0.65) 0%,
        $bg-main 100%
      );
    }
  }

  &__excerpt {
    margin-bottom: 3rem;
  }

  &__button {
    margin-top: auto;
    align-self: flex-start;
  }

  &__date {
    margin-bottom: 3rem;
    display: inline-block;
  }
}
