.articles-loop {
  margin-top: 5rem;

  &__pagination {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    color: white;

    & > * + * {
      margin-left: 1rem;
    }

    & > a {
      color: inherit;

      &:hover {
        color: $color-primary;
      }
    }

    & > span {
      opacity: 0.7;
    }
  }
}
