.blog-post {
  min-height: calc(
    100vh - 9.3rem - 5rem - 9.3rem - 3rem
  ); // 9.3rem - header & footer. 3rem - footer margin
  margin-top: 5rem;
  margin-bottom: 5rem;

  &__content {
    max-width: 76rem;
    margin: 0 auto;
    line-height: 1.5;

    a {
      color: $color-primary;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

// When logged in to WP admin area
.customize-support {
  .blog-post {
    min-height: calc(
      100vh - 9.3rem - 5rem - 9.3rem - 3rem - 2rem
    ); // 9.3rem - header & footer. 3rem - footer margin + 2rem WP Admin bar
  }
}
