.intro {
  margin-top: $spacing;

  @include breakpoint(md) {
    margin-top: $spacing-mob;
  }

  &__wrapper {
    display: flex;

    @include breakpoint(md) {
      flex-direction: column-reverse;
    }
  }

  &__image {
    flex: 0 0 25%;
    margin-left: 5rem;
    border-radius: $radius;
    align-self: flex-start;
    overflow: hidden;
    box-shadow: $shadow;
    border: 0.2rem solid $bg-main;

    @include breakpoint(md) {
      margin-left: 0;
      margin-bottom: 3rem;
      max-width: 22rem;
    }
  }

  &__button {
    margin-top: 3rem;

    &:after {
      background-image: url("../images/Mail icon.svg"), $gradient;
    }
  }

  &__header {
    margin-bottom: 3.5rem;
  }

  &__text {
    max-width: 70rem;
  }
}
