.latest-articles {
  margin-top: $spacing;

  @include breakpoint(md) {
    margin-top: $spacing-mob;
  }

  &__link {
    color: white;
    text-decoration: underline;
    display: block;
    margin-top: 3rem;
    transition: 0.2s;

    &:hover {
      color: $color-primary;
    }
  }
}
