.h1, h1 {
    font-weight: 600;
    font-size: 4rem;
    color: linear-gradient(90.86deg, #E85D54 0%, #DA3F5B 99.85%);
    line-height: 1.4;

    @include gradient-text();

    @include breakpoint(md) {
        font-size: 3rem;
    }
}

.h2, h2 {
    font-size: 36px;
    font-weight: 600;
    line-height: 1.4;

    @include gradient-text();

    @include breakpoint(md) {
        font-size: 2.6rem;
    }
}

.h3, h3 {
    font-size: 3rem;
    font-weight: 600;
    line-height: 1.4;

    @include gradient-text();

    @include breakpoint(md) {
        font-size: 2rem;
    }
}

.date {
    font-size: 1.6rem;
    line-height: 1.4;
    letter-spacing: 0.025em;
    color: rgba(204, 204, 204, 0.5);

    @include breakpoint(md) {
        font-size: 1.3rem;
    }
}

p, ul {
    margin-bottom: 3rem;
}
