.container {
  max-width: 120rem + 2*$container-padding;
  margin: 0 auto;
  padding: 0 $container-padding;

  @include breakpoint(sm) {
    padding: 0 $container-padding-mob;
  }

  &--narrow {
    max-width: 100rem;
  }
}

.noscroll {
  overflow: hidden;
}
