$container-padding: 50px;
$container-padding-mob: 20px;

$bg-main: #202224;
$font-main: #CCCCCC;

$shadow: 3px 3px 4px rgba(0, 0, 0, 0.849), -3px -3px 4px rgba(102, 107, 112, 0.43);
$radius: 35px;
$gradient: linear-gradient(90.86deg, #E85D54 0%, #DA3F5B 99.85%);