$container-padding: 5rem;
$container-padding-mob: 2rem;

$bg-main: #171819;
$font-main: #CCCCCC;

$shadow: 3px 3px 4px rgba(0, 0, 0, 0.212), -3px -3px 4px rgba(102, 107, 112, 0.123);
$radius: 35px;
$gradient: linear-gradient(90.86deg, #E85D54 0%, #DA3F5B 99.85%);
$spacing: 5rem; // Spacing between sections
$spacing-mob: 2rem; // Spacing between sections

$color-primary: #DA3F5B;